$color-white: #ffffff;
$color-cod-gray: #121212;
$color-casablanca: #f4bc51;
$color-blush: #b94e5e;
$color-tundora: #4a4a4a;
$color-boulder: #7a7a7a;
$color-gallery: #eeeeee;
$breakpoint-lg: 1200px;
$breakpoint-md: 991px;
$breakpoint-sm: 768px;
$breakpoint-xs: 425px;
